In [1]:
import pandas as pd

In [8]:
belize_listings = 'belize_airbnb_listings.csv'
belize_df = pd.read_csv(belize_listings)

In [9]:
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [24]:
grouped_neighborhoods = belize_df.groupby("neighbourhood")
grouped_with_averages = grouped_neighborhoods[["price", "number_of_reviews", "availability_365"]].mean()
grouped_with_averages

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824          17.647736        295.970837
Belize Mainland        288.273063          15.147601        261.014760
Cayo                   205.847525          14.566337        259.249505
Corozal                156.553846           7.569231        278.676923
Orange Walk            122.035714          14.821429        261.928571
Stann Creek Islands   1136.166667           5.750000        248.083333
Stann Creek Mainland   456.994690           8.470796        277.872566
Toledo Mainland        222.978723           4.127660        234.744681

In [42]:
og_list = [2,4,6,8,10,12,14]
new_list = [i**2 for i in og_list]

print(new_list)

[4, 16, 36, 64, 100, 144, 196]

In [45]:
newer_list = [2/3*i for i in new_list]
print(newer_list)

[2.6666666666666665, 10.666666666666666, 24.0, 42.666666666666664, 66.66666666666666, 96.0, 130.66666666666666]

In [55]:
dixnre={"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400,
"Peaches": 13600, "Oranges": 7}

new_dict = {key.lower():value for key,value in dixnre.items()}
print(new_dict)

{'apples': 1500, 'cranberries': 2000, 'pears': 2500, 'cherries': 1600, 'plums': 2400, 'peaches': 13600, 'oranges': 7}

In [ ]:
# I used this format so that I could apply the "lower" function to only the keys in my dictionary.